<div class="intro-container">
    <div class="intro-details">
        <h1 class="intro-title">{{ introData?.title }}</h1>
        <p class="intro-description" [innerHTML]="introData?.description"></p>
        <div class="social-icons">
            <a [href]="introData?.githubUrl" target="_blank">
                <img [src]="introData?.githubIcon" alt="GitHub" />
            </a>
            <a [href]="introData?.linkedInUrl" target="_blank">
                <img [src]="introData?.linkedInIcon" alt="LinkedIn" />
            </a>
            <a [href]="introData?.gmailUrl">
                <img [src]="introData?.gmailIcon" alt="Gmail" />
            </a>
            <button class="resume-button" (click)="downloadResume()">See My Resume</button>
        </div>
        <div class="intro-scroll"></div>
    </div>
</div>