.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  /* height: 90vh; */
  background-color: #F2F2F2;
}

.intro-details {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-title {
  font-family: 'Helvetica';
  color: #111111; /* Adjust the color */
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 4rem ;
  font-style: normal;
  letter-spacing: 3px;
}

.intro-description {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #333333; /* Adjust the text color */
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.social-icons img {
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: transform 0.2s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.resume-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #007bff; /* Adjust button color */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.resume-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.intro-scroll {
  height: 100px;
}