.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Adjust based on your theme */
  /* box-shadow: -10px -10px 50px #828282; */
  box-shadow: 0 10px 100px rgba(0,0,0,0.1);
  position: relative;
}

.nav-container {
  text-align: center;
}

.logo-image {
  height: 80px; /* Adjust the height based on your design */
  width: auto; /* Maintain aspect ratio */
  padding: 10px 0px;
}
