/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures consistent box-sizing */
  width: 100%;
  height: 100%;
  font-family: 'Helvetica-Content';
}

@font-face {
  font-family: 'Helvetica-Content'; /* Replace with your font name */
  src: url('assets/fonts/helvetica-255/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Title'; /* Replace with your font name */
  src: url('assets/fonts/helvetica-255/helvetica-compressed-5871d14b6903a.otf') format('truetype');
}